@import "tailwindcss";

@font-face {
    font-family: "Compaq Thin 8x16";
    src: url("/font/Web437_CompaqThin_8x16.woff") format("woff");
}

@font-face {
    font-family: "IBM VGA 8x16";
    src: url("/font/WebPlus_IBM_VGA_8x16.woff") format("woff");
}

@theme {
    --font-pixel: "Compaq Thin 8x16", "IBM VGA 8x16", "monospace";
}